<div
  class="flex w-full h-screen flex-row justify-center px-6 py-12 lg:px-8 poppins-bold items-center bg-navy"
>
  <div class="flex w-1/2 min-h-full justify-end items-center">
    <img src="logo.png" alt="" class="h-110 w-100 object-cover" />
  </div>
  <div class="flex flex-col w-1/2">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2
        class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-pink-50"
      >
        Login to your account
      </h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" (ngSubmit)="onLogin()">
        <div>
          <label
            for="username"
            class="block text-sm/6 font-medium text-slate-100"
            au
            >User Name</label
          >
          <div class="mt-2">
            <input
              type="text"
              name="username"
              id="username"
              [(ngModel)]="username"
              autocomplete="off"
              required
              class="block w-full rounded-md tracking-wide -tracking-2 bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300 placeholder:text-gray-400 focus:outline-indigo-600 sm:text-sm"
            />
          </div>
        </div>

        <div>
          <label for="mobile" class="block text-sm/6 font-medium text-slate-100"
            >Mobile No</label
          >
          <div class="flex mt-2">
            <span
              class="block w-1/4 rounded-md tracking-wide -tracking-2 bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300 sm:text-sm"
              >+91</span
            >
            <input
              type="tel"
              name="mobile"
              id="mobile"
              [(ngModel)]="mobile"
              pattern="[0-9]{10}"
              maxlength="10"
              required
              autocomplete="off"
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300 placeholder:text-gray-400 focus:outline-indigo-600 sm:text-sm"
            />
          </div>
        </div>

        <div>
          <button
            type="submit"
            class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-indigo-600"
          >
            Login
          </button>
        </div>
      </form>

      <p class="mt-10 text-center text-sm text-gray-500">
        Not a member?
        <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500"
          >Add Your Details</a
        >
      </p>
    </div>
  </div>
</div>
